In [37]:
import pandas as pd
base = "ivory"
df = pd.read_csv(f'{base}/{base}_feature_engineered.csv')
# df = pd.read_csv(f'{base}/{base}.csv')

In [38]:
# Initialize the new list of dictionaries
import ast
new_list = []



# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    username = row['username']
    #join_date = row['join_date']
    tweets = ast.literal_eval(row['tweets'])  # Convert string representation of list to an actual list
    replies = ast.literal_eval(row['replies'])
    for tweet in tweets:
        tweet_link = tweet['tweet_link']
        tweet_content = tweet['tweet_content']
        new_list.append({
            'tweet_link': tweet_link,
            'username': username,
            'tweet_content': tweet_content
        })

    for tweet in replies:
        tweet_link = tweet['tweet_link']
        tweet_content = tweet['tweet_content']
        new_list.append({
            'tweet_link': tweet_link,
            'username': username,
            'tweet_content': tweet_content
        })


# Now, new_list contains the transformed data
#print(new_list)

# If you want to save this list to a new CSV file:
new_df = pd.DataFrame(new_list)
new_df = new_df.dropna(axis = 0)
new_df.to_csv(f'{base}/{base}_tweets.csv', index = True)

In [39]:
!jupyter nbconvert --to script WhiteBoard.ipynb

In [34]:
import torch
print(torch.cuda.is_available())

True

In [41]:
df = pd.read_csv(f'{base}/{base}_tweets.csv')

In [42]:
print(len(df))

125024

In [77]:
base = "rhinohorn"
df = pd.read_csv(f'{base}/{base}_filtered_usercount.csv')

In [78]:
print(len(df))

977

In [32]:
!jupyter nbconvert --to script Classification.ipynb --output classification_ivory

[NbConvertApp] Converting notebook Classification.ipynb to script
[NbConvertApp] Writing 2514 bytes to classification_ivory.py

In [4]:
import pandas as pd
base = "pangolin"
df = pd.read_csv(f'{base}/{base}_feature_engineered.csv')
df.head()

,Unnamed: 0,handle,followers_count,replies,tweet_count,likes_count,username,tweets,join_date,following_count,...,post_freq,time_series,mean,median,std_dev,min,max,25th_percentile,75th_percentile,num_scraped_tweets
0,0,@invertposting,83,[{'tweet_link': '/invertposting/status/1794029...,1109.0,535,InvertebratePosting,[{'tweet_link': '/invertposting/status/1762851...,2:25 AM - 28 Feb 2024,179,...,1109.000000,"[(1709078400, 2)]",2.0,2.0,0.000000,2,2,2.0,2.0,2
1,1,@etonahatskelar,139,[],49985.0,0,Steam Mop Sale,[{'tweet_link': '/etonahatskelar/status/137845...,1:07 PM - 26 Sep 2011,13,...,925.648148,"[(1321660800, 200)]",200.0,200.0,0.000000,200,200,200.0,200.0,200
2,2,@AndyVermaut,"31,846",[],2646914.0,"2,013",Andy Vermaut,[{'tweet_link': '/AndyVermaut/status/179434245...,4:39 PM - 17 Apr 2011,"34,168",...,552.937957,"[(1715817600, 2), (1715904000, 46), (171599040...",19.6,14.0,16.169106,2,54,8.5,20.0,196
3,3,@heartwhole24,"1,163",[{'tweet_link': '/heartwhole24/status/17938064...,53146.0,"129,682",TallysMum ðŸŒ¼ðŸŒ³ðŸª»ðŸ’•,[{'tweet_link': '/heartwhole24/status/17323651...,9:05 PM - 8 Aug 2023,"1,603",...,442.883333,"[(1701820800, 2)]",2.0,2.0,0.000000,2,2,2.0,2.0,2
4,4,@EMaxwell56,327,[{'tweet_link': '/EMaxwell56/status/1793709763...,15335.0,"5,946",EdMaxwell56,[{'tweet_link': '/EMaxwell56/status/1600948548...,3:50 AM - 3 Nov 2022,313,...,438.142857,"[(1670457600, 2)]",2.0,2.0,0.000000,2,2,2.0,2.0,2

In [23]:
df=pd.read_csv(f'{base}/{base}_feature_engineered.csv')

In [25]:
import ast
def stdify(row):
    time_series = row['time_series']
    temp = ast.literal_eval(time_series)
    total_time = 0.0
    total_count=0
    weighted_sum_of_time_and_count=0.0
    for point in temp:
        total_time += point[0]
        total_count += point[1]
        weighted_sum_of_time_and_count += point[0]* point[0]
    # Calculate mean (weighted average)
    mean = weighted_sum_of_time_and_count / total_count

    # Calculate squared deviations from the mean
    squared_deviations = [((point[0] - mean) * point[1])**2 for point in temp]

    # Calculate variance (average of squared deviations)
    variance = sum(squared_deviations) / total_count

    # Calculate standard deviation (square root of variance)
    std = variance**0.5
    return std
        
df['std_dev'] = df.apply(stdify,axis=1)